<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Ошибка</title>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
  <link href="../../static/css/gtvg.css" media="all" rel="stylesheet" th:href="@{/css/gtvg.css}"
        type="text/css"/>
</head>

<body>
<h1>Ошибка доступа безопасности</h1>
<h2>Вы случайно здесь оказались. Стоит вернуться назад</h2>
<a href="/">Стартовая страница</a>
<br/><br/>
<div th:insert="~{footer::copy}">&copy; 2020 The Static Templates</div>
</body>
</html>